<div class="row top-spacer">

    <mat-accordion class="col col-lg-2 col-sm-12 bottom-spacer">
        <mat-expansion-panel [expanded]="true" class="bg-light-blue mat-elevation-z8 ">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="title text-blue">Search Filters</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="form">

                <mat-form-field class="full-width">
                    <mat-label>Program</mat-label>
                    <mat-select
                        name="selectedProgram"
                        [(ngModel)]="selectedProgram"
                        (ngModelChange)="selectProgram();">
                    <mat-option *ngFor="let program of programs" [value]="program">
                        {{program}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="users" class="full-width">
                    <mat-label>User</mat-label>
                    <mat-select
                        name="selectedUser"
                        [(ngModel)]="selectedUser"
                        (ngModelChange)="selectUser();"
                        >
                    <mat-option *ngFor="let user of users" [value]="user">
                        {{user.sortName}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput  name="start" [matDatepicker]="startPicker" [(ngModel)]="start" (dateChange)="changeEvent($event)" placeholder="Start Date..." required>
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
            
                <mat-form-field class="full-width">
                    <input matInput  name="end" [matDatepicker]="endPicker" [(ngModel)]="end" (dateChange)="changeEvent($event)" placeholder="End Date..." required>
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <br />
        <div *ngIf="selectedUser" class="col col-lg-10 col-sm-12">
            <mat-expansion-panel [expanded]="true" class="mat-elevation-z8 bg-light-blue no-padding">
                <mat-expansion-panel-header>
                    <span class="title text-blue">Login Records</span>
                </mat-expansion-panel-header>
                <app-eventsresults *ngIf="selectedUser"[eventList]="events"></app-eventsresults>
            </mat-expansion-panel>
            
        </div>
    <br />
</div>
<div *ngIf="selectedUser" class="row top-spacer">
    <div class="col col-sm-12">
        <mat-expansion-panel [expanded]="true" class="mat-elevation-z8 bg-light-blue no-padding">
            <mat-expansion-panel-header>
                <span class="title text-blue">Call Records</span>
            </mat-expansion-panel-header>
            <app-callsresults *ngIf="selectedUser" [callsList]="calls"></app-callsresults>
        </mat-expansion-panel>
    </div>
</div>
    
