<div class="row top-spacer">

    <mat-accordion class="col col-lg-2 col-sm-12 bottom-spacer">
        <mat-expansion-panel [expanded]="true" class="bg-light-blue mat-elevation-z8 ">
          
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="title text-blue">Search Filters</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="form">
                        
                <mat-form-field class="full-width">
                    <input matInput placeholder="Username or machine..." name="search" [(ngModel)]="search">
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <input matInput  name="start" [matDatepicker]="startPicker" [(ngModel)]="start" (dateChange)="changeEvent($event)" placeholder="Start Date..." required>
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
            
                <mat-form-field class="full-width">
                    <input matInput  name="end" [matDatepicker]="endPicker" [(ngModel)]="end" (dateChange)="changeEvent($event)" placeholder="End Date..." required>
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <input matInput placeholder="Results..." name="results" type="number" [(ngModel)]="take">
                </mat-form-field>

                <div class="container-fluid">
                    <div class="row">
                        <mat-checkbox color="primary" class="" name="logons" [(ngModel)]="logons">Logons</mat-checkbox>
                    </div>
                    <div class="row">
                        <mat-checkbox color="primary" class="" name="logoffs" [(ngModel)]="logoffs">Logoffs</mat-checkbox>
                    </div>
                    <div class="row">
                        <mat-checkbox color="primary" class="" name="unlocks" [(ngModel)]="unlocks">Unlocks</mat-checkbox>
                    </div>
                    <div class="row">
                        <mat-checkbox color="primary" class="" name="locks" [(ngModel)]="locks">Locks</mat-checkbox>
                    </div>
                </div>
                <br />
                <button mat-raised-button color="primary" (click)="update()">Search</button>
            </form>
            
        </mat-expansion-panel>
    </mat-accordion>

    <div class="col col-lg-10 col-sm-12">
        <app-eventsresults  [eventList]="events">
        </app-eventsresults>
    </div>
</div>
