<mat-accordion>
    <mat-expansion-panel [expanded]="true" class="bg-light-blue mat-elevation-z8">
      
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="title text-blue">Search Filters</span>
            </mat-panel-title>
            <mat-panel-description>
                Click this bar to expand/contract it.
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Number..." name="number" [(ngModel)]="number" (input)="update()">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Device..." name="device" [(ngModel)]="device" (input)="update()">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Code..." name="code" [(ngModel)]="code" (input)="update()">
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input matInput  name="start" [matDatepicker]="startPicker" [(ngModel)]="start" (dateChange)="changeEvent($event)" placeholder="Start Date..." required>
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field class="full-width">
                <input matInput  name="end" [matDatepicker]="endPicker" [(ngModel)]="end" (dateChange)="changeEvent($event)" placeholder="End Date..." required>
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Results..." name="results" type="number" [(ngModel)]="take" (input)="update()">
            </mat-form-field>
          </form>
    </mat-expansion-panel>
</mat-accordion>
<br />
<app-callsresults [callsList]="calls"></app-callsresults>